nav{
    background-color: lightskyblue;
    padding: 20px;
}

.columna{
    background-color: mediumvioletred;
    color: mintcream;
    padding: 20px;
    width: 25%;
    margin: 10px;
}

.padre{
    display: flex;
}